<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}} | Store Manager</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"> 
    <link href="/css/style.css" rel="stylesheet">
</head>
<body class="bg-light">
    
    {{! CONTENIDO DE AUTENTICACIÓN }}
    <div class="container">
        {{! Aquí se inyectará el contenido de login.hbs y registro.hbs }}
        {{{body}}}
    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>